.tabla-container {
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Cuando el contenido es más ancho que el contenedor, se adapta (moviles)*/
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

tr {
    border: 2px solid rgb(147, 144, 144);
}

th, td {
    padding: 0.75rem;
    text-align: center;
}

table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}


/* PRIORIDADES */

.prio-baja {
  background-color: #d4edda;
}

.prio-media {
  background-color: #fff3cd;
}

.prio-alta {
  background-color: #f8d7da;
}

/* Aplico las opacidades diractamente desde el background, porque con opacity tambien afecta a los botones */
tr.prio-baja.completada {
    background-color: #d4edda59;
}

tr.prio-media.completada {
    background-color: #fff3cd59;
}

tr.prio-alta.completada {
    background-color: #f8d7da59;
}

tr.completada td:not(:last-child):not(:nth-child(5)) { /* Excluye el ultimo y el penúltimo */
  text-decoration: line-through;
  opacity: 0.6;
}

/* BOTONES */
.botones {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.botones button {
    flex: 1;
    text-align: center;
    max-width: 120px;
    color: white;
    font-weight: bold;
    border: none;
    padding-block: 8px;
    padding-inline: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-completar {
    background-color: green;
}

.botones .btn-completar:hover {
    background-color: rgb(112, 214, 112);
    color: rgb(0, 0, 0);
}

.btn-borrar {
    background-color: red;
}

.botones .btn-borrar:hover {
    background-color: rgb(239, 106, 106);
    color: rgb(0, 0, 0);
}

.btn-disabled {
    pointer-events: none;
    background-color: grey;
    cursor: not-allowed;
}

/* MENSAJES TAREAS */

.mensaje-tareas {
    display: flex;
    justify-content: center;
}

/* NUEVO CSS */

.contenedor-columnas {
    display: flex;
    gap: 16px;
    padding: 16px;
    background: #f4f5f7;
    height: 100vh;
}

.columna {
  background: #ebecf0;
  width: 280px;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.contenedor-tareas {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.tarea {
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  cursor: pointer;
  overflow: hidden;
}

.tarea-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}