.form-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 8px var(0, 0, 0, 0.1);
    overflow-x: auto;
    width: 100%;
}

.tarea {
    display: flex;
    gap: 18px;
    margin-block: 5px;
}

.prioridad {
    display: flex;
    gap: 10px;
    margin-block: 5px;
}

.error {
    color: red;
}

.boton-añadir {
    display: flex;
    justify-content: center;
}

.boton-añadir button {
    background-color: green;
    color: white;
    width: 100px;
    border: none;
    padding-block: 8px;
    padding-inline: 15px;
    margin-block: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-añadir button:hover {
    background-color: rgb(112, 214, 112);
    color: rgb(0, 0, 0);
}