.contenedor-filtros {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  gap: 25px;
}

.filtro-orden {
  min-width: 250px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

.filtros-generales {
  display: flex;
  justify-content: center;
}

.filtros-seleccion {
  min-width: 250px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.btn-filtros {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

::ng-deep .mdc-evolution-chip-set__chips {
  display: flex !important;
  flex-direction: column !important;
}

.filtro-titulo {
  margin-top: 8px;
}