:host {
  display: flex;
  flex-direction: column;
  align-items: center;  /* los hijos ocupan todo el ancho */
  width: 100%;
  min-width: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

h1 {
    text-align: center;
}