.form-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    width: 100%;
}

.tarea,
.prioridad {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-block: 5px;
}

.tarea label,
.prioridad label {
    width: 80px;
}

.control {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 260px;
}

.control input,
.control select {
    width: 100%;
}

.error {
  min-height: 1rem;
  font-size: 0.80rem;
  color: red;
  margin-left: 0;
}

.boton-añadir {
    display: flex;
    justify-content: center;
}

.boton-añadir button {
    background-color: green;
    color: white;
    font-weight: bold;
    width: 100px;
    border: none;
    padding-block: 8px;
    padding-inline: 15px;
    margin-block: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-añadir button:hover {
    background-color: rgb(112, 214, 112);
    color: rgb(0, 0, 0);
}