.form-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto 2rem auto;  /* centrado horizontal, espacio abajo */
  padding: 1.5rem;
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tarea-container,
.prioridad-container,
.fecha-limite-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-block: 5px;
}

.tarea-container label,
.prioridad-container label,
.fecha-limite-container label {
    width: 100px;
}

.control {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 260px;
}

.control input,
.control select {
    width: 100%;
}

.error {
  min-height: 1rem;
  font-size: 0.80rem;
  color: red;
  margin-left: 0;
}

.boton-añadir {
    display: flex;
    justify-content: center;
}

.boton-añadir button {
    background-color: green;
    color: white;
    font-weight: bold;
    width: 100px;
    border: none;
    padding-block: 8px;
    padding-inline: 15px;
    margin-block: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-añadir button:hover {
    background-color: rgb(112, 214, 112);
    color: rgb(0, 0, 0);
}