.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  margin: auto;  /* centrado horizontal, espacio abajo */
  padding: 1.5rem;
}

.form-edit-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  margin: auto;  /* centrado horizontal, espacio abajo */
  padding: 1.5rem;
}

.form-titulo-container {
    display: flex;
    justify-content: center;
}

.tarea-container,
.prioridad-container,
.fecha-limite-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-block: 5px;
}

.tarea-container label,
.prioridad-container label,
.fecha-limite-container label {
    width: 100px;
}

.control {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 260px;
}

.control input,
.control select {
    width: 100%;
}

.error {
  min-height: 1rem;
  font-size: 0.80rem;
  color: red;
  margin-left: 0;
}

.boton-container {
    display: flex;
    justify-content: center;
}

.botones-container {
    display: flex;
    justify-content: space-around;
}

.btn-submit,
.btn-cancelar {
    background-color: green;
    color: white;
    font-weight: bold;
    width: 100px;
    border: none;
    padding-block: 8px;
    padding-inline: 15px;
    margin-block: 5px;
    border-radius: 6px !important;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: rgb(112, 214, 112) !important;
    color: rgb(0, 0, 0);
}

.btn-cancelar {
    background-color: red;
}

.btn-cancelar:hover {
    background-color: rgb(239, 106, 106);
    color: rgb(0, 0, 0);
}