@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

html {
    width: 100%;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
